body{
    margin: 0;
    padding: 0;
    background-color: rgb(107, 246, 100);
    background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.table{
    background-color: #142f44;
    margin: 70px auto;
    place-items: center;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 30px #000;
}
.display{
    background-color: antiquewhite;
    color: #000;
    height: 50px;
    border-radius: 8px;
    border: 0px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 30px;
    font-size: 13px;
}
clear:hover{
    width: 100px;
    height: 100px;

}
#clear{
    border-radius: 8px;
    width: 98%;
    height: 50px;
    background-color: red; 
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    border: 0px;
    margin-top: 5px;
}
#clear:hover{
    background-color: blueviolet;
    font-weight: bold;
    font-weight: 900;
}
#button{
    margin-top: 5px;
    width: 70px;
    height: 70px;   
    background-color: #ffd0fd;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    border: 0px;
}
#button:hover{
    background: #b67e7e;
    font-size: x-large;
    
}
input:hover{
   background-color: bisque;
   font-weight: 900;
   box-shadow: 0 0 20px rgb(0, 0, 0);
}